$dspl:
flex,
grid,
none,
block;

$grtempcol:
1fr 1fr,
2fr 2fr 2fr,
2fr 2fr,
1fr;

$grtemprow:
1fr,
1fr 1fr,
4fr 4fr,
2fr 2fr,
1fr 1fr 1fr 1fr,
2fr;

$color:
rgb(148, 15, 148),
aliceblue,
black;

$just:
center,
space-around,
space-between;

$fontw:
200,
400,
600;

$fontfam:
'Inter'sans-serif,
'Lora'serif;

$botpadd:
15px,
10px,
20px;

$colgp:
5px,
2px,
10px;

$width:
100mv,
150px,
600px,
676px,
754px,
750px,
503px,
1050px,
800px;
