$rowgap:10px;
$algitms:center;
$justitms:center;
$mrg:0;
$padd:0;
$txtdec: none;
$listtp: none;
$txtali:center;
$fonts:large;
$over:hidden;
$hgt: 200px; 
$flxwrp:wrap;
$txtdec:none;
$listty:none;
$widthheader:100mw;