footer{
    display: map-get($footer-general, dsp);
    align-items: map-get($footer-general, alitms);
    justify-content: map-get($footer-general, justcn);
    background-color: map-get($footer-general, bgclr);
    padding-bottom: map-get($footer-general, pdbott);
    .p_footer{
        font-family: nth($fontfam,2);
        font-weight: nth($fontw, 3);
    }
    
    @media(max-width:332px){
    .div-footer{
     display:nth($dspl,2) ;
     @include gridcolrow( 1fr 1fr, 1fr 1fr);
     row-gap:$rowgap;
     justify-items:nth($just,1);
     align-items: $algitms;}
    }
    
}

