
.img_film{
    @include gridcolrow(2fr 2fr, 2fr);
    overflow: $over;
    @extend %grid;
} 
.link_film2{
    display: nth($dspl, 3 );
}
/*media filmografia*/ 
@media(max-width:nth($width,3)){
    .link_film{
        display: nth($dspl,3);
    }
    .link_film2{
        display: nth($dspl,4);
    }
    .portada_film{
        display: nth($dspl,4);
        height: $hgt;
        width:nth($width, 2);
    }

}



/*media informacion*/

@media(max-width: nth($width,5)){
    .img_info_desktop{
        display: nth($dspl, 3);
    }
    .img_info_mobile{
        display: nth($dspl,4);
    }
    .img_info_mobile2{
        display: nth($dspl,4);
    }
}

@media(max-width:nth($width,6)){
    .section-info{
        display: nth($dspl, 2 );
        @include gridcolrow(2fr 2fr, 2fr 2fr);
    }

    .img_info_mobile{
        display:nth($dspl, 4 );
    }
    .img_info_mobile2{
        display: nth($dspl, 3);
    }

}
.imginicio_mobile{
    display:nth($dspl, 3);
}

/*media index*/
@media(max-width: nth($width,4)){
    section{
        div{
           .imginicio_desktop{
             display:nth($dspl, 3);
            }
            .imginicio_mobile{
                display:nth($dspl, 4);
            }
        
        }
    }
}
@media(max-width:nth($width,6)){
    .section-info{
        display: nth($dspl, 2);
        @include gridcolrow(1fr, 1fr 1fr 1fr 1fr);
    }
    .img_info_mobile{
        display:nth($dspl, 4);
    }
    .img_info_mobile2{
        display:nth($dspl, 3) ;
    }

}

.iframe_disc_desktop{
    display: nth($dspl, 1 );
    justify-content:nth($just, 2);
    flex-wrap: $flxwrp;
    align-items:$algitms;
}


/*media discografia*/
@media(max-width:nth($width, 8)){
    .iframe_disc_desktop{
    justify-content:nth($just, 1 );
    column-gap:$colgp;
    flex-wrap: $flxwrp;
    align-items: $algitms;
    }
}

.link_film2{
    display:nth($dspl, 3);
}
/*media filmografia*/ 
@media(max-width:nth($width, 3)){
    .link_film{
        display: nth($dspl, 3);
    }
    .link_film2{
        display: nth($dspl, 4);
    }
    .portada_film{
        display:  nth($dspl,4);
        height: $hgt;
        width: nth($width, 2 );
    }

}

.p_tour{
    padding-bottom: nth($botpadd, 1);
}

.img_tour{
    display: nth($dspl, 1);
    justify-content:nth($just,2 );
    align-items: $algitms;
    padding-bottom: nth($botpadd, 2);
}

/*media tour*/
@media(max-width: nth($width,9)){
   
    .img-tour-mobile{
        display: nth($dspl,4);
        overflow:$over;
    }
    .img-tour-desktop{
        display:  nth($dspl,3);
    }
}
