
.img_film{
    @include gridcolrow(2fr 2fr, 2fr);
    overflow: $over;
    @extend %grid;
    padding-bottom: nth($padd, 4);
    padding-top: nth($padd, 2 );
} 
.link_film2{
    display: nth($dspl, 3 );
}
/*media filmografia*/ 
@media(max-width:nth($width,3)){
    .link_film{
        display: nth($dspl,3);
    }
    .link_film2{
        display: nth($dspl,4);
    }
  
}
@media(max-width:nth($width,12)){
    .link_film2{
        display: nth($dspl,3);
    }
    .link_film{
        display: nth($dspl,4);
    }
    .img_film{
        @include gridcolrow(1fr, 1fr);
        overflow: $over;
        @extend %grid;
    } 
  
}

/*media informacion*/

@media(max-width: nth($width,5)){
    .img_info_desktop{
        display: nth($dspl, 3);
    }
    .img_info_mobile{
        display: nth($dspl,4);
    }
    .img_info_mobile2{
        display: nth($dspl,4);
    }
}

@media(max-width:nth($width,6)){
    .section-info{
        display: nth($dspl, 2 );
        @include gridcolrow(2fr 2fr, 2fr 2fr);
    }

    .img_info_mobile{
        display:nth($dspl, 4 );
    }
    .img_info_mobile2{
        display: nth($dspl, 3);
    }

}
.imginicio_mobile{
    display:none
}

/*media index*/
@media(max-width:676px){
    section{
        div{
           .imginicio_desktop{
             display: none;
            }
            .imginicio_mobile{
                display: block;
            }
        
        }
    }
}


@media(max-width:nth($width,6)){
    .section-info{
        display: nth($dspl, 2);
        @include gridcolrow(1fr 1fr , 1fr 1fr );
    }
    .img_info_mobile{
        display:nth($dspl, 4);
    }
    .img_info_mobile2{
        display:nth($dspl, 3) ;
    }

}
@media(max-width:nth($width,7)){
    .section-info{
        display: nth($dspl, 2);
        @include gridcolrow(1fr , 1fr 1fr 1fr 1fr );
    }
    .img_info_mobile{
        display:nth($dspl, 4);
    }
    .img_info_mobile2{
        display:nth($dspl, 3) ;
    }

}
.iframe_disc_desktop{
    display: nth($dspl, 1 );
    justify-content:nth($just, 2);
    flex-wrap: $flxwrp;
    align-items:$algitms;
    padding-top: nth($padd, 2 );
    padding-bottom: nth($padd, 2 );
    row-gap: nth($colgp, 1 );
}
.iframe_disc_desktop2{
    display: nth($dspl, 3 );
}

/*media discografia*/
@media(max-width:nth($width, 8)){
    .iframe_disc_desktop{
    justify-content:nth($just, 1 );
    column-gap: nth($colgp,3);
    flex-wrap: $flxwrp;
    align-items: $algitms;
    }
}
@media(max-width:nth($width, 4)){
    .iframe_disc_desktop{
        display: nth($dspl, 3 );
    }
    .iframe_disc_desktop2{
        display: nth($dspl, 2 );
        @include gridcolrow(1fr, 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
        justify-items: nth($just,1);
        align-items: $algitms;
        padding-top: nth($padd, 2 );
        padding-bottom: nth($padd, 2 );
        row-gap: nth($colgp, 1 );
    }
    
}

.link_film2{
    display:nth($dspl, 3);
}
/*media filmografia*/ 
@media(max-width:nth($width, 3)){
    .link_film{
        display: nth($dspl, 3);
    }
    .link_film2{
        display: nth($dspl, 4);
    }
    .portada_film{
        display:  nth($dspl,4);
        height: $hgt;
        width: nth($width, 2 );
    }

}

.p_tour{
    padding-bottom: nth($padd_p, 1);
}

.img_tour{
    display: nth($dspl, 1);
    justify-content:nth($just,2 );
    align-items: $algitms;
    padding-bottom: nth($padd, 4);
    padding-top: nth($padd, 2 );
}
.img-tour-desktop{
    display:  nth($dspl,4);
}
.img-tour-mobile{
    display: nth($dspl,4);
    overflow:$over;
}
.img-tour-desktop1{
    display: nth($dspl,4);
}
/*media tour*/
@media(max-width: nth($width,9)){
    .img-tour-mobile{
        display: nth($dspl,4);
        overflow:$over;
    }
    .img-tour-desktop1{
        display: nth($dspl,4);
    }
    .img-tour-desktop{
        display: nth($dspl,3);
    }
}
@media(max-width: nth($width,6)){
    .img-tour-mobile{
        display: nth($dspl,4);
        overflow:$over;
    }
    .img-tour-desktop1{
        display: nth($dspl,3);
    }
    .img-tour-desktop{
        display: nth($dspl,3);
    }
}
 