.section-info{
    @include gridcolrow(2fr 2fr 2fr, 4fr 4fr);
    row-gap: $rowgap;  
    column-gap: nth($colgp, 2); 
    overflow:$over;
    padding-bottom:nth($padd, 2);
    @extend %grid;
 }
.section-index{
    width: nth($width,1);
    display:nth($dspl, 1);
    align-items:$algitms;
    justify-content:nth($just, 1 );
    overflow: $over;
    padding-bottom: nth($padd, 3 );
}
.section-film{
    padding-bottom: nth($padd, 1);}

.formulario{
    display: nth($dspl, 1 );
    align-items: $algitms;
    justify-content: nth($just, 1);
    color: nth($color,2 );
    font-family: nth($fontfam, 2)
}
.formp{
    align-items: $algitms;
    justify-content: nth($just, 1);
    color: nth($color,2 );
    font-family: nth($fontfam, 2);
    padding-bottom: nth($padd, 3);
}


